@use '../../../stylesheets/variables/colors';
@use '../../../stylesheets/mixins/mixins';
@use '../../../stylesheets/variables/numbers';

.dialog__chats-wrapper{
  overflow: scroll;
  max-height: 1150px;
}

.dialog__chats-wrapper:first-child {
  border-radius: numbers.$border-radius;
}