@use './src/stylesheets/variables/colors';
@use './src/stylesheets/mixins/mixins';

.error-message {
  width: 100%;
  color: colors.$error;
  @include mixins.center-content;
  justify-content: flex-start;
  gap: 5px;
}
