@use '../../../stylesheets/variables/colors';
@use '../../../stylesheets/mixins/mixins';

.dialog {

  &__write {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-left: 1px solid colors.$border-light-gray;
    padding-right: 10px;

    @include mixins.media-mobile {
    }
  }

  &__write-input {
    width: 85%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border: none;
    height: 100%;
    padding-left: 10px;

    @include mixins.media-mobile {
      font-size: 14px;
    }
  }

  &__write-input::placeholder {
    color: colors.$gray-placeholder-and-time;
  }

  &__write-input:focus {
    outline: none;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__icon {
    border: none;
    background-color: colors.$white;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon:hover.emoji {
    svg {
      fill: colors.$yellow-emoji;
      opacity: 0.5;
    }

    svg path {
      stroke: colors.$black;
    }
  }

  &__icon:hover.message {
    svg {
      fill: colors.$main-blue;
    }

    svg path {
      stroke: colors.$messages-icon-hover;
    }
  }
}
