@use '../../../stylesheets/variables/colors';
@use '../../../stylesheets/variables/numbers';
@import '../../../stylesheets/mixins/mixins';

.dialog {

  &__friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    color: colors.$color-friend-name;
    background-color: colors.$white;
    border-bottom: 1px solid colors.$border-light-gray;
  }

  &__friend.list {
    padding: 27px 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
      @include media-mobile {
        flex-direction: column;
      }
  }

  &__friend.chat {
    border-left: 1px solid colors.$border-light-gray;
    padding: 16px;
  }

  &__friend-list.active {
    background: colors.$main-blue;
    color: colors.$main-background;
  }

  &__image.chat {
    width: 50px;
    height: 50px;
    margin-right: 16px;
  }

  &__image.list {
    width: 70px;
    height: 70px;
    margin-right: 12px;
  }

  &__img-box {
    position: relative;
  }

  &__img {
    position: absolute;
    object-fit: cover;
    background-color: colors.$white;
    border-radius: 50%;
    border: none;
  }

  &__img.chat {
    width: 50px;
    height: 50px;
      @include media-tablet {
        width: 40px;
        height: 40px;
      }
  }

  &__img.list {
    width: 70px;
    height: 70px;
      @include media-tablet {
        width: 60px;
        height: 60px;
      }
      @include media-mobile {
        width: 55px;
        height: 55px;
      }
  }

  &__friend-name {
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    color: colors.$black;
  }

  &__friend-name.list {
    font-size: 18px;
      @include media-tablet {
        font-size: 16px;
      }
      @include media-mobile {
        font-size: 14px;
      }
  }

  &__friend-name-chat {
    font-size: 24px;
      @include media-tablet {
        font-size: 20px;
      }
      @include media-mobile {
        font-size: 18px;
      }
  }
}

.active {
    color: colors.$white;
    background-color: colors.$main-blue;
}
a {
  text-decoration: none;
}

.dialog__friend:first-child {
  border-radius: numbers.$border-radius 0 0 0;
}