@use './src/stylesheets/mixins/mixins';
@use './src/stylesheets/variables/colors';
@use './src/stylesheets/variables/numbers';

.all-users {
  @include mixins.center-content;

  &__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__heading {
    margin-top: 45px;
    font-size: 30px;
    text-align: center;
    @include mixins.center-content;
    gap: 10px;
  }
}

.users-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
}

.logo-svg {
  height: 50px;
  width: 190px;
}
