@use '../../../stylesheets/variables/colors.scss';
@use '../../../stylesheets/mixins/mixins.scss';

* {
  box-sizing: border-box;
}

.discoverButton {
  position: relative;
  margin: 30px 0;
  width: 220px;
  height: 50px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  border: 1px solid colors.$color-pure-white;
  border-radius: 25px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: .5s;

  &__arrow {
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: colors.$color-switcher-language;
    border-radius: 50%;
    z-index: 1;
    transition: 1s;
  }

  &__text {
    align-self: center;
    padding-left: 40px;
    font-size: 1.1rem;
    z-index: 3;
    transition: .5s;
  }

  &__arrow-icon {
    transition: .5s;
    position: absolute;
    top: 15px;
    left: 9px;
  }

  &:hover {
    .discoverButton__arrow {
      width: 211px;
      border-radius: 25px;
      justify-content: flex-end;
    }

    .discoverButton__text {
      padding-left: 54px;
    }
  }

  &:active {
    transform: scale(0.98);
  }

  @include mixins.media-desktop-middle {
    margin: 30px auto;
  }
}
