@import '../../../stylesheets/variables/colors';
@import '../../../stylesheets/mixins/mixins';

.header {
  --Z-index-search-input-hidden: 0;
  --Z-index-search-icon: 1;

  &__input-wrapper {
    position: relative;
    margin-left: 50px;
    width: 21%;

    @include media-mobile {
      min-width: 200px;
      margin: 5%;
    }
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background: $color-header-background;
    border: $color-input-border;
    box-shadow: $color-input-shadow;
    border-radius: 30px;
    color: $color-pure-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    padding: 13px 45px 13px 20px;
    z-index: var(--Z-index-search-input-hidden);
  }

  &__input-search-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3%;
    left: auto;
    top: 14%;
    bottom: auto;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: $color-input-search-icon;
    z-index: var(--Z-index-search-icon);
  }
}
