$main-background: #EFF4FB;
$main-gray: #9E9FAF;
$like: #EF2B2B;
$main-blocks-bcg: white;
$main-blue: #2D5BE3;
$black: black;

// Header
$color-header-background: #1B1D20;
$color-pure-white: #FFFFFF;
$color-pure-black: #000000;
$color-primary-blue: #2D5BE3;
$color-border: #ECECEC;

$color-input-border: 1px solid rgba(255, 255, 255, 0.38);
$color-input-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$color-input-search-icon: rgba(255, 255, 255, 0.46);
$color-switcher-language: #2BAFCC;
$color-footer-content: #646464;
$color-second-font: #a1e1fd;