$main-background: #EFF4FB;
$main-gray: #9E9FAF;
$gray-text: #71728C;
$like: #EF2B2B;
$main-blocks-bcg: white;
$main-blue: #2D5BE3;
$black: black;
$white: white;
$black-transparent: rgba(0, 0, 0, 0.4);
$gray-btn-shadow: #d5d5d5;
$half-transparent-white: rgba(255, 255, 255, 0.5);
$half-transparent-gray: rgba(158, 159, 175, 0.5);
$error: #FF5757;

// Header
$color-header-background: #1B1D20;
$color-pure-white: #FFFFFF;
$color-pure-black: #000000;
$color-primary-blue: #2D5BE3;
$color-border: #ECECEC;

$color-input-border: 1px solid rgba(255, 255, 255, 0.38);
$color-input-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$color-input-search-icon: rgba(255, 255, 255, 0.46);
$color-switcher-language: #36B7EF;
$color-footer-content: #646464;
$color-second-font: #a1e1fd;

// Dialog page
$color-friend-name: #111111;

// Dialogs
$border-light-gray: #E6E9EC;
$light-black: #050505;
$yellow-emoji: #e49d24;
$gray-placeholder-and-time: #B5BFD6;
$messages-icon-hover: #1a44c3;
$emoji-icon-hover: #df6c01;
