@import '../../stylesheets/colors';

.header {
  --Z-index-switcher-wrapper-hidden: 0;
  --Z-index-switcher-button: 1;

  &__switch-language {
    display: inline-block;
    width: 60px;
    height: 33px;
    border-radius: 20px;
    background: $color-pure-white;
    z-index: var(--Z-index-switcher-wrapper-hidden);
    margin: 6px;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
  }

  &__switch-language::after {
    content: "";
    height: 31px;
    width: 31px;
    border-radius: 17px;
    background: $color-switcher-language;
    top: 1px;
    left: 1px;
    transition-duration: 300ms;
    position: absolute;
    z-index: var(--Z-index-switcher-button);
  }

  &__switch-language.on::after {
    left: 28px;
  }
}