@use './src/stylesheets/variables/colors';
@use './src/stylesheets/mixins/mixins';

.item {
  border-bottom: 1px solid colors.$half-transparent-gray;
  color: colors.$color-footer-content;
  padding: 19px 50px 19px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 16px;
  line-height: 140%;

  &:last-child {
    border-bottom: none;
  }

  &__name {
    text-transform: capitalize;
  }

  &__link {
    @include mixins.link-style-reset;
    border-bottom: 1px solid colors.$color-footer-content;
    color: colors.$color-footer-content;
  }

  &__content {
    word-wrap: break-word;
  }

}
