@import '../../stylesheets/variables/colors';
@import '../../stylesheets/mixins/mixins';

.footer {
  margin: auto auto 0;
  padding: 120px 110px 0 200px;
  background: $color-pure-white;
  max-width: 1200px;

    @include media-tablet-for-footer {
      padding: 60px 55px 0 100px;
    }

    @include media-mobile {
      padding: 30px 22px 0 50px;
    }

  &__menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.5%;
    justify-items: start;
    align-items: start;
    margin-bottom: 60px;
      @include media-tablet-for-footer {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
      }

      @include media-mobile {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 15px;
      }
  }

  &__logo-icon {
    width: 60%;
    display: inline-block;
    margin-bottom: 20px;

      @include media-tablet-for-footer {
        width: 30%;
      }

      @include media-mobile {
        width: 15%;
      }
  }

  &__blocks-names {
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: $color-pure-black;
    margin: 0;
      @include media-tablet-for-footer {
        font-size: 18px;
      }

      @include media-mobile {
        font-size: 16px;
      }
  }

  &__text, &__links {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $color-footer-content;
    text-decoration: none;
      @include media-tablet-for-footer {
        font-size: 14px;
      }
  }

  &__links:hover {
    color: $color-primary-blue;
    cursor: pointer;
    text-decoration: underline solid $color-primary-blue;
  }
  &__text {
    text-align: left;
  }

  &__block-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__decor-line {
    padding: 10px 0;
  }

  &__copyright {
    border-top: 1px solid $color-border;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $color-footer-content;

      @include media-tablet-for-footer {
        font-size: 14px;
      }
  }
}