.main {
  display: flex;

  &__friends {
    width: 100%;

    &-filter {
      display: flex;
      width: 240px;
      height: 48px;
      background: white;
      border-radius: 8px;

      .filter {
        align-items: center;
        margin: 0 auto;
        padding: 11px;
      }

      select {
        display: inline-block;
        border: none;
        background: white;
        margin-left: 1rem;
      }
    }
  }
}