@use "./assets/fonts/icon-font/icons-font.css";
@use './stylesheets/base/reset';
@use './stylesheets/variables/colors';

.app {
  background-color: colors.$main-background;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

.blue {
  color: cornflowerblue;
  font-size: 30px;
}

.rose {
  color: rosybrown;
  font-size: 30px;

}
