@import "./assets/fonts/icon-font/icons-font.css";

.app {
  text-align: center;
  background-color: black;
  color: white;
  height: 100%;
}

.blue {
  color: cornflowerblue;
  font-size: 30px;
}

.rose {
  color: rosybrown;
  font-size: 30px;

}
