body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@import './assets/fonts/icon-font/icons-font.css';
@import 'stylesheets/_colors.scss';
@import 'header/_header.scss';
@import 'header/loginButton/_loginButton.scss';
@import 'header/searcher/_searcher.scss';
@import 'header/switcher/_switcher.scss';