body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@import './assets/fonts/icon-font/icons-font.css';